<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /job_portal/

    # Redirect direct access to files and directories (optional)
    # RewriteCond %{REQUEST_FILENAME} -f [OR]
    # RewriteCond %{REQUEST_FILENAME} -d
    # RewriteRule ^ - [L]

    # Rewrite all requests to index.php
    #RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
</IfModule>